Teletram+LCD.json
[
    {
        "id": "a53b29206a48088c",
        "type": "tab",
        "label": "Ejemplo telegram y LCD",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c9c73afd7979f6f8",
        "type": "telegram receiver",
        "z": "a53b29206a48088c",
        "name": "Recepcion de Mensajes para LCD",
        "bot": "c845b26cde7b073d",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "8defbcddd99225f6"
            ],
            []
        ]
    },
    {
        "id": "d07b4ef264b669a6",
        "type": "debug",
        "z": "a53b29206a48088c",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 280,
        "wires": []
    },
    {
        "id": "3f4a400123849aca",
        "type": "mqtt out",
        "z": "a53b29206a48088c",
        "name": "",
        "topic": "Ejemplo/Mensaje/LCD",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dbb2841f278f706f",
        "x": 960,
        "y": 100,
        "wires": []
    },
    {
        "id": "8defbcddd99225f6",
        "type": "function",
        "z": "a53b29206a48088c",
        "name": "function 4",
        "func": "msg.payload=msg.payload.content;\nmsg.topic=\"Mensajes\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 180,
        "wires": [
            [
                "d07b4ef264b669a6",
                "3f4a400123849aca"
            ]
        ]
    },
    {
        "id": "65f2bc3ec25b22d4",
        "type": "json",
        "z": "a53b29206a48088c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a88ae272eda3441a",
        "type": "mqtt out",
        "z": "a53b29206a48088c",
        "d": true,
        "name": "",
        "topic": "Ejemplo/Mensaje/LCD",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dbb2841f278f706f",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "57efe292cfab8e51",
        "type": "json",
        "z": "a53b29206a48088c",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "3549670bcef516a4",
                "a88ae272eda3441a"
            ]
        ]
    },
    {
        "id": "a23a45dfc766eb7e",
        "type": "telegram receiver",
        "z": "a53b29206a48088c",
        "d": true,
        "name": "Recepcion de Mensajes para LCD",
        "bot": "c845b26cde7b073d",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 300,
        "y": 500,
        "wires": [
            [
                "57efe292cfab8e51"
            ],
            []
        ]
    },
    {
        "id": "3549670bcef516a4",
        "type": "debug",
        "z": "a53b29206a48088c",
        "d": true,
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "c845b26cde7b073d",
        "type": "telegram bot",
        "botname": "CMTelegram_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "dbb2841f278f706f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]